body {
  background-image: url('heart.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.containheader {
  text-shadow: 20%;
  text-align: center;
  margin-top: 70px;
  padding: 0px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

#result-card.definite {
  background-color: #FFCCCB;
  color: white;
}

#result-card.probable {
  background-color: #FFFFED;
  color: #333;
}

#result-card.unlikely {
  background-color: #28a745;
  color: white;
}

.form-group.param {
  font-style: bold;
}

#instructions-container .card {
  width: 80%;
}

.d-flex.justify-content-center {
  justify-content: center !important;
}

.btn-info {
  background-color: #17a2b8;
  border-color: #17a2b8;
}